body { background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR50T-gr2MyGQnagI_DnbG9r3M8FnH_kXy-ZNcc3qJgh6LBxGTL")
    }
h1{
    text-align:center;
    color:yellow;
    border-style:200px;
    font-family: cursive;
    font-size: 100px;
    background-image:url("http://us.123rf.com/450wm/icholakov/icholakov1101/icholakov110100009/8617587-green-bamboo-shoots-stacked-for-background.jpg")
}

